.banner{
    position: relative;
    height: 50%;
}

.banner-img{
    width: 100%;
    height: 50%;
    mask-image: linear-gradient(to right,transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent, black 75%);
}

.banner-title{
    position: absolute;
    
    top: 20%;
    width: 100%;
    padding-left: 2%;
    display: flex;
    align-items: flex-end

}

.banner-title img{
    
    width: 40%; /* Adjust this value as needed */
    vertical-align: middle;
}

.btn-box{
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
    position: relative;
    top: 40px;
    right: 360px;
}

.btn-box .btn img{
    width: 25px;
}

.btn-box .btn{
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    border: 0;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 2px;
}

.btn-box .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
}